<div class="thing-profile">
  <h2>{{name}}</h2>
  <img src="{{url}}">
  <div class="stats">
    <h3>Stats:</h3>
    <h5>Shininess: {{shininess}}</h5>
    <h5>Carbohydrate: {{carbohydrate}}</h5>
    <h5>Stealth: {{stealth}}</h5>
    <a href='/things/edit/{{id}}'>Edit Thing</a>
  
  </div>
</div>